---
import YAML from 'yaml'

import streamersYml from '~/data/streamers/2023.yml?raw'

interface Streamer {
	name: string
	country: string
	socials: Array<{
		platform: string
		url: string
	}>
}

const streamers = YAML.parse(streamersYml) as Array<Streamer>

const countryFlag: Record<string, string> = {
	'AUS': 'australia',
	'BEL': 'belgium',
	'CAN': 'canada',
	'CHE': 'switzerland',
	'ESP': 'spain',
	'FRA': 'france',
	'GBR': 'united-kingdom',
	'IDN': 'indonesia',
	'ITA': 'italy',
	'USA': 'united-states',
}

const socialIcons: Record<string, string> = {
	'twitch': 'mdi--twitch',
	'twitter': 'mdi--twitter',
	'youtube': 'mdi--youtube',
	'tiktok': 'ic--baseline-tiktok',
	'instagram': 'mdi--instagram',
}
---

<table>

	<thead>
		<tr>
			<th>Nationalité</th>
			<th>Participant</th>
			<th>Réseaux sociaux</th>
		</tr>
	</thead>

	<tbody>
		{streamers.map((streamer) => (
			<tr>
				<td>
					{countryFlag[streamer.country] !== undefined
						? <span class={`icon-[twemoji--flag-${countryFlag[streamer.country]}] icon-align icon-fw`}></span>
						: <em>{streamer.country}</em>
					}
				</td>
				<td>{streamer.name}</td>
				<td>
					{streamer.socials.map((social, index) => (
						<>
							<a href={social.url} target="_blank" rel="noopener noreferrer">{
								socialIcons[social.platform.toLowerCase()] !== undefined
									? <span class={`icon-[${socialIcons[social.platform.toLowerCase()]}] icon-align icon-fw`}></span>
									: <em>{social.platform}</em>
							}</a>{index < streamer.socials.length - 1 && ', '}
						</>
					))}
				</td>
			</tr>
		))}
	</tbody>

</table>
